<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>STTP</title>
    <link rel="stylesheet" href="/0.header_footer.css" type="text/css" />
  </head>
  <body>
    <header id="header">
      <img src="/img/임시로고.png" id="headerTitle"></img>
      <p id="headerLogin">로그인</p>
      <div id="headerNavi">
        <a href="/test/main" class="naviLink">설문지 작성</a>
        <a href="#" class="naviLink">설문참여</a>
        <a href="#" class="naviLink">설문결과</a>
        <a href="#" class="naviLink">MY PAGE</a>
        <a href="#" class="naviLink">고객센터</a>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="side-div"></div>
        <div class="center-div">
          <p>메인공간</p>
        </div>
        <div class="side-div"></div>
      </div>
    </main>
    <footer id="footer">footer가들어갈 공간</footer>
  </body>
</html>
