<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>STTP</title>
    <link rel="stylesheet" href="./1.main.css" type="text/css" />
  </head>
  <body>
    <header id="header">
      <img src="../static/img/임시로고.png" id="headerTitle"></img>
      <p id="headerLogin">로그인(버튼)</p>
      <div id="headerNavi">
        <a href="/test">설문지 작성(링크)</a>
        <a href="#">설문참여(링크)</a>
        <a href="#">설문결과(링크)</a>
        <a href="#">MY PAGE(링크)</a>
        <a href="#">고객센터(링크)</a>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="side-div"></div>
        <div class="center-div">
          <p>여기로이동했는지확인</p>
        </div>
        <div class="side-div"></div>
      </div>
    </main>
    <footer id="footer">footer가들어갈 공간</footer>
  </body>
</html>
