<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>설문지작성화면</title>
    <link
      rel="stylesheet"
      href="../static/2.1survey_make.css"
      type="text/css"
    />
  </head>
  <body>
    <header id="header">
      <img src="../static/img/임시로고.png" id="headerTitle"></img>
      <p id="headerLogin">로그인</p>
      <div id="headerNavi">
        <a href="/test/main" class="naviLink">설문지 작성</a>
        <a href="#" class="naviLink">설문참여</a>
        <a href="#" class="naviLink">설문결과</a>
        <a href="#" class="naviLink">MY PAGE</a>
        <a href="#" class="naviLink">고객센터</a>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="side-div"></div>
        <div class="center-div">
          <div id="createAllDiv">
            <div class="createDiv" id="newCrateDiv">
              <div>새로 만들기</div>
            </div>
            <div class="createDiv" id="loadSaveDiv">
              <p>임시저장 불러오기</p>
            </div>
            <div class="createDiv" id="importTempltesDiv">
              <p>템플릿 가져오기</p>
            </div>
          </div>
        </div>
        <div class="side-div"></div>
      </div>
    </main>
    <footer id="footer">footer가들어갈 공간</footer>
  </body>
</html>
