<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>STTP</title>
    <link
      rel="stylesheet"
      href="../static/2.2survey_make_input.css"
      type="text/css"
    />
  </head>
  <body>
    <header id="header">
      <img src="../static/img/로고.png" id="headerTitle" />
      <button id="headerLogin">로그인</button>
      <div id="headerNavi">
        <div id="surveyMainDiv">
          <p class="naviLink">설문지 작성</p>
          <div id="hiddenDiv">
            <a href="#" class="hiddenText">새로만들기</a>
            <a href="#" class="hiddenText">불러오기</a>
            <a href="#" class="hiddenText">가져오기</a>
          </div>
        </div>
        <a href="#" class="naviLink">설문참여</a>
        <a href="#" class="naviLink">설문결과</a>
        <a href="#" class="naviLink">MY PAGE</a>
        <a href="#" class="naviLink">고객센터</a>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="side-div"></div>
        <div class="center-div">
          <form>
            <p>주제입력</p>
            <select name="subject">
              <option value="politics">정치</option>
              <option value="economy">경제</option>
              <option value="society">사회</option>
              <option value="culture">문화</option>
              <option value="science">과학</option>
              <option value="philosophy">철학</option>
            </select>

            <p>등록기간</p>
            <input type="number" name="period" value="7">
            <p>일</p>

            <p>기본정보 입력여부</p>
            <input type="checkbox" name="email" value="email">이메일
            <input type="checkbox" name="phonenumber" value="phonenumber">전화번호
            <input type="checkbox" name="age" value="age">나이
            <input type="checkbox" name="gender" value="gender">성별

            <p>설문대상</p>
            <select id="targetSelection" name="target">
              <option value="public">공용</option>
              <option value="employees">기업용</option>
              <option value="student">학생용</option>
            </select>

            <div id="employeesInputDiv">
              <input type="checkbox" name="department" value="department">부서
              <input type="checkbox" name="position" value="position">직급
            </div>

            <div id="studentInputDiv">
              <input type="checkbox" name="grade" value="grade">학년
              <input type="checkbox" name="college" value="college">학과
            </div>

            <P>부가정보 입력여부</P>
            <input type="checkbox" name="region" value="region">지역
            <input type="checkbox" name="finaledu" value="finaledu">최종학력
            <input type="checkbox" name="incomelevel" value="incomelevel">소득수준
            
            <input type="submit" value="다음">
          </form>
        </div>
        <div class="side-div"></div>
      </div>
    </main>
    <footer id="footer">
      <div id="gitDiv">
        <div class="gitDivOne">
          <img src="../static/img/깃.png" class="footerGitImg" />
          <p class="gitId">Jisu-Seong</p>
        </div>
        <div class="gitDivOne">
          <img src="../static/img/깃.png" class="footerGitImg" />
          <p class="gitId">JeongBin0462</p>
        </div>
      </div>
      <div id="gitAdress">
        <img src="../static/img/깃.png" class="footerGitImg" />
        <p class="gitId">https://github.com/Jisu-Seong/STTP</p>
      </div>
    </footer>
  </body>
  <script src="../static/2.2survey_make_input.js"></script>
</html>
