<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>설문지 작성</title>
    <link rel="stylesheet" href="/0.header_footer.css" type="text/css" />
    <link rel="stylesheet" href="/2.3survey_make_main.css" type="text/css" />
  </head>
  <body>
    <header id="header">
      <img src="/img/sttp로고.png" id="headerTitle" />
      <p id="headerLogin">로그인</p>
      <div id="headerNavi">
        <a href="/test/main" class="naviLink">설문지 작성</a>
        <a href="#" class="naviLink">설문참여</a>
        <a href="#" class="naviLink">설문결과</a>
        <a href="#" class="naviLink">MY PAGE</a>
        <a href="#" class="naviLink">고객센터</a>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="side-div">
          <p>side</p>
        </div>
        <div class="center-div">
          <div class="survey-box">
            <div class="survey-title-content">
              <div id="surveyTitle">설문지 제목을 적는 공간</div>
              <div id="surveyContent">설문지 설명을 적는 공간</div>
            </div>

            <div id="survey-question">설문지 질문 영역</div>
            <button id="newSurveyBtn" type="button">+ 새 질문 추가</button>
          </div>

          <form method="post">
            <input type="submit" value="제출" />
          </form>
        </div>

        <div class="side-div">
          <p>side</p>
        </div>
      </div>
    </main>
    <footer id="footer">footer가들어갈 공간</footer>
  </body>
  <script src="/2.3survey_make_main.js"></script>
</html>
