<!DOCTYPE html>
<html>

<head>
	<meta charset="EUC-KR">
	<title>설문지 작성 완료</title>
	<link rel="stylesheet" href="/0.header_footer.css" type="text/css" />
</head>

<body>
	<header id="header">
	  <a href="http://localhost:8080/surveasy/main">
      	<img src="/img/로고2차.png" id="headerTitle" />
      </a>
      <a class="headerLogin" id="loginLink" href="./user/login">로그인</a>
	  <a class="headerLogin" id="logoutLink" href="./user/logout">로그아웃</a>
      <div id="headerNavi">
        <div id="surveyMainDiv">
          <p class="naviLink">설문지 작성</p>
          <div id="hiddenDiv">
            <a href="http://localhost:8080/surveasy/inputsurvey" class="hiddenText">새로만들기</a>
            <a href="#" class="hiddenText">불러오기</a>
            <a href="#" class="hiddenText">가져오기</a>
          </div>
        </div>
        <a href="http://localhost:8080/surveasy/survey/board" class="naviLink">설문참여</a>
        <a href="#" class="naviLink">설문결과</a>
        <a href="#" class="naviLink">MY PAGE</a>
        <a href="#" class="naviLink">고객센터</a>
      </div>
    </header>
	<main>
		<div class="container">
			<div class="side-div">
				<p>side</p>
			</div>
			<div class="center-div">
				<h1>설문지 제작 완료!</h1>
			</div>
			<div class="side-div">
			</div>
		</div>
	</main>
	<footer id="footer">
      <div id="gitDiv">
        <div class="gitDivOne">
          <img src="/img/깃.png" class="footerGitImg" />
          <a href="https://github.com/Jisu-Seong" class="gitId">
          <p class="gitId">Jisu-Seong</p>
          </a>
        </div>
        <div class="gitDivOne">
          <img src="/img/깃.png" class="footerGitImg" />
          <a href="https://github.com/JeongBin0462" class="gitId">
          <p class="gitId">JeongBin0462</p>
          </a>
        </div>
      </div>
      <div id="gitAdress">
        <img src="/img/깃.png" class="footerGitImg" />
        <a href="https://github.com/Jisu-Seong/surveasy" class="gitId">
        <p>https://github.com/Jisu-Seong/surveasy</p>
        </a>
      </div>
    </footer>
  </body>
  <script src="/0.header_footer.js"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener("DOMContentLoaded", function() {
        let isAuthenticated = /*[[${isAuthenticated}]]*/ false;
        if (isAuthenticated) {
            document.getElementById("loginLink").style.display = "none";
        } else {
            document.getElementById("logoutLink").style.display = "none";
        }
    });
    /*]]>*/
	</script>
</html>
