<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>STTP</title>
    <link rel="stylesheet" href="/0.header_footer.css" type="text/css" />
    <link rel="stylesheet" href="/3.1survey_board.css" type="text/css" />
  </head>
  <body>
    <header id="header">
	  <a href="http://localhost:8080/surveasy/main">
      	<img src="/img/로고2차.png" id="headerTitle" />
      </a>
      <a class="headerLogin" id="loginLink" href="http://localhost:8080/surveasy/user/login">로그인</a>
	  <a class="headerLogin" id="logoutLink" href="http://localhost:8080/surveasy/user/logout">로그아웃</a>
      <div id="headerNavi">
        <div id="surveyMainDiv">
          <p class="naviLink">설문지 작성</p>
          <div id="hiddenDiv">
            <a href="http://localhost:8080/surveasy/inputsurvey" class="hiddenText">새로만들기</a>
            <a href="#" class="hiddenText">불러오기</a>
            <a href="#" class="hiddenText">가져오기</a>
          </div>
        </div>
        <a href="http://localhost:8080/surveasy/survey/board" class="naviLink">설문참여</a>
        <a href="#" class="naviLink">설문결과</a>
        <a href="#" class="naviLink">MY PAGE</a>
        <a href="#" class="naviLink">고객센터</a>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="side-div"></div>
        <div class="center-div">
          <div id="survey-view-container">
            <select class="surveyOption" id="survey-option-subject">
              <option>주제선택</option>
              <option>정치</option>
              <option>경제</option>
              <option>사회</option>
              <option>문화</option>
              <option>과학</option>
              <option>철학</option>
            </select>
            <div class="survey" id="survey-view-top">
              <select class="surveyOption" id="survey-option-rate">
                <option>남은기간</option>
                <option>최신순</option>
                <option>참여순</option>
                <option>즐겨찾기순</option>
              </select>
              <button class="survey-view-btn">
                <p>◀</p>
              </button>
              <div class="survey-view-container">
				  <div class="survey-view" id="survey-view-title">
                  <p class="survey-view-text-title">제목</p>
                  <p class="survey-view-text-person">참여인원</p>
                  <p class="survey-view-text-date">마감일</p>
                  <p class="survey-view-text-number">☆</p>
                </div>
                <div th:each="surveyPaper : ${surveyPapers}">
					 <a th:if="${not #strings.isEmpty(surveyPaper.link)}" th:href="@{'http://localhost:8080/surveasy/survey/' + ${surveyPaper.link} + '?no=' + ${surveyPaper.surveyno}}" class="survey-urls-div">
						 <div class="survey-view">
			        <p class="survey-view-text-title" th:text="${surveyPaper.surveytitle}"></p>
			        <p class="survey-view-text-person" th:text="${surveyPaper.participants} + '명'"></p>
			        <p class="survey-view-text-date" th:text="${#temporals.format(surveyPaper.deadline, 'yyyy-MM-dd HH:mm:ss')}"></p>
			        <p class="survey-view-text-number" th:text="${surveyPaper.bookmark}"></p>
			        </div>
			        </a>
			    </div>
              </div>
              <button class="survey-view-btn">
                <p>▶</p>
              </button>
            </div>
            <form id="formDiv" method="post">
              <label id="textDiv" >제목</label>
              <input type="search" name="search" th:value="${search}" />
              <button id="searchText">검색</button>
            </form>
          </div>
        </div>
        <div class="side-div"></div>
      </div>
    </main>
    <footer id="footer">
      <div id="gitDiv">
        <div class="gitDivOne">
          <img src="/img/깃.png" class="footerGitImg" />
          <a href="https://github.com/Jisu-Seong" class="gitId">
          <p class="gitId">Jisu-Seong</p>
          </a>
        </div>
        <div class="gitDivOne">
          <img src="/img/깃.png" class="footerGitImg" />
          <a href="https://github.com/JeongBin0462" class="gitId">
          <p class="gitId">JeongBin0462</p>
          </a>
        </div>
      </div>
      <div id="gitAdress">
        <img src="/img/깃.png" class="footerGitImg" />
        <a href="https://github.com/Jisu-Seong/surveasy" class="gitId">
        <p>https://github.com/Jisu-Seong/surveasy</p>
        </a>
      </div>
    </footer>
  </body>
  <script src="/0.header_footer.js"></script>
  <script src="/3.1survey_board.js"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener("DOMContentLoaded", function() {
        let isAuthenticated = /*[[${isAuthenticated}]]*/ false;
        if (isAuthenticated) {
            document.getElementById("loginLink").style.display = "none";
        } else {
            document.getElementById("logoutLink").style.display = "none";
        }
    });
    /*]]>*/
	</script>
</html>
