<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>STTP</title>
    <link rel="stylesheet" href="/0.header_footer.css" type="text/css" />
    <link rel="stylesheet" href="/3.3survey_board_participate.css" type="text/css" />
  </head>
  <body>
    <header id="header">
	  <a href="http://localhost:8080/surveasy/main">
      	<img src="/img/로고2차.png" id="headerTitle" />
      </a>
      <a class="headerLogin" id="loginLink" href="http://localhost:8080/surveasy/user/login">로그인</a>
	  <a class="headerLogin" id="logoutLink" href="http://localhost:8080/surveasy/user/logout">로그아웃</a>
      <div id="headerNavi">
        <div id="surveyMainDiv">
          <p class="naviLink">설문지 작성</p>
          <div id="hiddenDiv">
            <a href="http://localhost:8080/surveasy/inputsurvey" class="hiddenText">새로만들기</a>
            <a href="#" class="hiddenText">불러오기</a>
            <a href="#" class="hiddenText">가져오기</a>
          </div>
        </div>
        <a href="http://localhost:8080/surveasy/survey/board" class="naviLink">설문참여</a>
        <a href="#" class="naviLink">설문결과</a>
        <a href="#" class="naviLink">MY PAGE</a>
        <a href="#" class="naviLink">고객센터</a>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="side-div"></div>
        <div class="center-div">
			<div class="survey-top-container" id="survey-title-div">
				<p th:text="${surveyPaper.surveytitle}"></p>
			</div>
			<div class="survey-top-container" id="survey-content-div">
				<p th:text="${surveyPaper.surveycontent}"></p>
			</div>
			<div id="question-container">
				<form onsubmit="submitData(event)">
					<input type="hidden" name="surveyno" th:value="${surveyOption.surveyno}" />
					
					<div class="question-div" id="question-require-div">
						<div class="survey-center-container" id="require-text-div">
							<div>필수</div>
						</div>
						<div th:if="${surveyRequire.email_option}" class="require-div">
							<p class="question-content-text">
								<span>이메일</span>
							</p>
							<div class="answers-div">
								<input type="text" name="email">
							</div>
						</div>
						
						<div th:if="${surveyRequire.phone_option}" class="require-div">
							<p class="question-content-text">
								<span>전화번호</span>
							</p>
							<div class="answers-div">
								<input type="text" name="phonenumber">
							</div>
						</div>
						
						<div th:if="${surveyRequire.age_option}" class="require-div">
							<p class="question-content-text">
								<span>생년월일</span>
							</p>
							<div class="answers-div">
								<input type="date" name="birth">
							</div>
						</div>
						
						<div th:if="${surveyRequire.gender_option}" class="require-div">
							<p class="question-content-text">
							<span>성별</span>
							</p>
							<div class="answers-div">
								<select name="gender" class="input-box-input">
	                    			<option>선택</option>
	                   				<option>남자</option>
	                  			  	<option>여자</option>
	                  			</select>
							</div>
						</div>
						
						<div th:if="${surveyRequire.department_option}" class="require-div">
							<p class="question-content-text">
							<span>부서</span>
							</p>
							<div class="answers-div">
								<select name="department" class="input-box-input">
	                    			<option>선택</option>
	                    			<option>개발</option>
	                    			<option>생산</option>
				                    <option>지원</option>
				                    <option>영업</option>
				                </select>
							</div>
						</div>
						
						<div th:if="${surveyRequire.position_option}" class="require-div">
							<p class="question-content-text">
							<span>직책</span>
							</p>
							<div class="answers-div">
								<select name="position" class="input-box-input">
				                    <option>선택</option>
				                    <option>사원</option>
				                    <option>주임</option>
				                    <option>대리</option>
				                    <option>과장</option>
				                    <option>차장</option>
				                    <option>부장</option>
				                    <option>부장이상</option>
				            	</select>
							</div>
						</div>
						
						<div th:if="${surveyRequire.grade_option}" class="require-div">
							<p class="question-content-text">
							<span>학년</span>
							</p>
							<div class="answers-div">
								<select name="grade" class="input-box-input" id="input-grade">
				                    <option>선택</option>
				                    <option>1학년</option>
				                    <option>2학년</option>
				                    <option>3학년</option>
				                    <option>4학년</option>
				               	</select>
							</div>
						</div>
						
						<div th:if="${surveyRequire.college_option}" class="require-div">
							<p class="question-content-text">
							<span>학과</span>
							</p>
							<div class="answers-div">
								<select name="college" class="input-box-input">
				                    <option>선택</option>
				                    <option>공학</option>
				                    <option>교육</option>
				                    <option>사회</option>
				                    <option>예체능</option>
				                    <option>의약</option>
				                    <option>인문</option>
				                    <option>자연</option>
				                </select>
			                </div>
						</div>
						
						<div th:if="${surveyRequire.region_option}" class="require-div">
							<p class="question-content-text">
							<span>지역</span>
							</p>
							<div class="answers-div">
								<select name="region" class="input-box-input">
				                    <option>선택</option>
				                    <option>강원</option>
				                    <option>경기</option>
				                    <option>경남</option>
				                    <option>경북</option>
				                    <option>광주</option>
				                    <option>대구</option>
				                    <option>대전</option>
				                    <option>부산</option>
				                    <option>서울</option>
				                    <option>울산</option>
				                    <option>인천</option>
				                    <option>전남</option>
				                    <option>전북</option>
				                    <option>제주</option>
				                    <option>충남</option>
				                    <option>충북</option>
				            	</select>
			            	</div>
						</div>
						
						<div th:if="${surveyRequire.finaledu_option}" class="require-div">
							<p class="question-content-text">
							<span>최종학력</span>
							</p>
							<div class="answers-div">
								<select name="finaledu" class="input-box-input">
				                    <option>선택</option>
				                    <option>대학원졸업이상</option>
				                    <option>대학원재학</option>
				                    <option>대학교졸업</option>
				                    <option>대학교재학</option>
				                    <option>고등학교졸업</option>
				                    <option>고등학교재학</option>
				                    <option>중학교졸업</option>
				                    <option>중학교재학</option>
				              	</select>
			              	</div>
						</div>
						
						<div th:if="${surveyRequire.incomelevel_option}" class="require-div">
							<p class="question-content-text">
							<span>소득수준</span>
							</p>
							<div class="answers-div">
								<select name="incomelevel" class="input-box-input">
				                    <option>선택</option>
				                    <option>상</option>
				                    <option>중</option>
				                    <option>하</option>
				                </select>
			                </div>
						</div>
					</div>
					
	    			<div th:each="question, stat : ${surveyQuestion}" class="question-div" th:data-question-no="${stat.index + 1}" th:attr="data-type=${question.answer_types}">
					<div class="survey-center-container">
					<div th:if="${question.mandatory}" th:text="'필수'"></div>
					<div th:unless="${question.mandatory}" th:text="'선택'"></div>
	        		<div th:if="${question.answer_types.equals('체크박스')}" class="check-min-max-div">
						<p>최소 선택 개수</p>
						<div th:text="${question.answer_min}"></div>
						<p>최대 선택 개수</p>
						<div th:text="${question.answer_max}"></div>
					</div>
					</div>
					<p class="question-content-text"><span th:text="${stat.index + 1}"></span>. <span th:text="${question.question_contents}"></span></p>
	        		<div th:if="${question.answer_types.equals('서술형')}" class="answers-div">
	            		<textarea th:name="${'question' + question.questionno}" class="textarea-div"></textarea>
	        		</div>
	        			<div th:if="${!question.answer_types.equals('서술형')}" class="answers-div">
	               			<div th:each="answer : ${answers}">
							    <div th:if="${question.questionno.equals(answer.questionno)}" class="input-div">
							        <div th:each="i: ${#numbers.sequence(1, 20)}">
							            <div th:with="currentAnswer=${answer['answer' + i]}">
							                <div th:if="${currentAnswer != null}">
							                    <label>
							                        <input th:if="${question.answer_types.equals('체크박스')}" type="checkbox" th:name="${'question' + question.questionno}" th:value="${currentAnswer}" />
							                        <input th:if="${question.answer_types.equals('라디오버튼')}" type="radio" th:name="${'question' + question.questionno}" th:value="${currentAnswer}" />
							                        <span th:text="${currentAnswer}"></span>
							                    </label>
							                </div>
							            </div>
							        </div>
							    </div>
							</div>
	        			</div>
	    			</div>
					<div id="btn-div">
	          			<button id="btn" onclick="submitData()">제출하기</button>
	         		</div>
	          	</form>
			</div>
        </div>
        <div class="side-div"></div>
      </div>
    </main>
    <footer id="footer">
      <div id="gitDiv">
        <div class="gitDivOne">
          <img src="/img/깃.png" class="footerGitImg" />
          <a href="https://github.com/Jisu-Seong" class="gitId">
          <p class="gitId">Jisu-Seong</p>
          </a>
        </div>
        <div class="gitDivOne">
          <img src="/img/깃.png" class="footerGitImg" />
          <a href="https://github.com/JeongBin0462" class="gitId">
          <p class="gitId">JeongBin0462</p>
          </a>
        </div>
      </div>
      <div id="gitAdress">
        <img src="/img/깃.png" class="footerGitImg" />
        <a href="https://github.com/Jisu-Seong/surveasy" class="gitId">
        <p>https://github.com/Jisu-Seong/surveasy</p>
        </a>
      </div>
    </footer>
  </body>
  <script src="/0.header_footer.js"></script>
  <script src="/3.3survey_board_participate.js"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener("DOMContentLoaded", function () {
      let isAuthenticated = /*[[${isAuthenticated}]]*/ false;
      if (isAuthenticated) {
        document.getElementById("loginLink").style.display = "none";
      } else {
        document.getElementById("logoutLink").style.display = "none";
      }
    });
    /*]]>*/
  </script>
</html>
