* {
  margin: 0;
  border: 0;
}

.body {
  background-color: #fbfafb;
   margin: 0;
  border: 0;
}

@font-face {
  font-family: "establishRetrosansOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

#header {
  height: 300px;
  background-color: #83b5a6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: NanumSquareNeo-Variable;
  
  width: 100%;
}

#headerTitle {
  width: 200px;

  position: relative;
  bottom: 10%;
}

#headerLogin {
  position: relative;

  left: 40%;
  bottom: 50%;

  font-size: 18px;
}

#headerNavi {
  background-color: #65b6cd;
  width: 55%;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#surveyMainDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hiddenDiv {
  margin-top: 5px;

  display: none;
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hiddenText {
  margin-top: 5px;
}

.naviLink {
  margin-left: 60px;
  margin-right: 60px;

  font-size: 18px;
}

.container {
  display: flex;
  width: 100%;
}

.center-div {
  width: 80%;
  background: #fbfafb;
}

.side-div {
  flex: 1;
  background: black;
}

#footer {
  height: 150px;
  background-color: #1d7659;
}
