.survey {
  width: 95%;
  height: 40%;

  background-color: #83b5a6;
}

#survey-view-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.survey {
  display: flex;
  align-items: center;
  justify-content: center;
}

.survey-view-btn {
  font-size: 40px;
  background-color: transparent;
  color: #1D7659;
}

.surveyOption {
  position: absolute;

  margin-bottom: 285px;
  margin-left: 890px;

  font-size: 18px;

  height: 26px;
  width: 100px;
  text-align-last: center;
  text-align: center;
}

.survey-view-container {
  width: 90%;
  height: 85%;
}

.survey-view {
  display: flex;

  border-bottom: 1px;
  border-style: solid;

  padding-bottom: 4px;
}

.survey-column {
	display: flex;
	flex-direction: row;
	text-align: left;
	width: 100%;
	margin-left: 200px;
	margin-top: 10px;
}

.survey-view-column-title {
	flex: 3;
	font-weight: bolder;
}

.survey-view-column-participants {
	flex: 2;
	font-weight: bolder;
}

.survey-view-column-deadline {
	flex: 3;
	font-weight: bolder;
}

.survey-view-text-title {
  margin-left: 30px;
  margin-top: 15px;

  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.survey-view-text-person {
  margin-left: 10px;
  margin-top: 15px;

  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.survey-view-text-date {
  margin-left: 30px;
  margin-top: 15px;

  width: auto;

  display: flex;
}

#survey-view-top{
  margin-top: 20px;
}

#survey-view-bottom {
  margin-top: 30px;
}

#surveyOption {
  font-size: 16px;
}