.survey {
  width: 95%;
  height: 40%;

  background-color: #83b5a6;
}

.center-div {
  min-height: 60vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

#survey-view-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.survey {
  display: flex;
  align-items: center;
  justify-content: center;
}

.survey-view-btn {
  font-size: 40px;
  background-color: transparent;
  color: #1D7659;
}

.surveyOption {
  position: absolute;

  margin-bottom: 285px;
  margin-left: 890px;

  font-size: 18px;

  height: 26px;
  width: 100px;
  text-align-last: center;
  text-align: center;
}

.survey-view-container {
  width: 90%;
  height: 85%;
}

.survey-view {
  display: flex;

  border-bottom: 1px;
  border-style: solid;

  padding-bottom: 4px;
}

.survey-column {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 100%;
  margin-top: 2%;
  margin-left: 15%;
}

.survey-urls-div {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

.survey-view-column-title {
  flex: 2.6;
  font-weight: bolder;
  display: flex;
  justify-content: left;
}

.survey-view-column-participants {
  flex: 0.7;
  font-weight: bolder;
  display: flex;
  justify-content: left;
}

.survey-view-column-regidate {
  flex: 1.25;
  font-weight: bolder;
  display: flex;
  justify-content: left;
}

.survey-view-column-deadline {
  flex: 2;
  font-weight: bolder;
  display: flex;
  justify-content: left;
}

.survey-urls-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.survey-view-text-title {
  flex: 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.survey-view-text-person {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.survey-view-text-rdate {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.survey-view-text-date {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#survey-view-top {
  margin-top: 2.5%;
  height: 40%;
}

#survey-view-bottom {
  margin-top: 5%;
  height: 40%;
}

#surveyOption {
  font-size: 16px;
}

#topPageNum,
#bottomPageNum {
  display: none;
}