* {
  margin: 0;
  border: 0;
}

.body {
  background-color: #fbfafb;
  margin: 0;
  border: 0;
}

@font-face {
  font-family: "establishRetrosansOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*
ν—¤λ”
*/

#header {
  height: 240px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: NanumSquareNeo-Variable;

  width: 100%;
  background: #fbfafb;
}

#headerTitle {
  width: 200px;

  position: relative;
  bottom: 10%;
}

#headerLogin {
  position: relative;
  background-color: transparent;

  left: 40%;
  bottom: 50%;

  font-size: 18px;
  color: #83b5a6;
}

#headerNavi {
  background-color: #1d7659;
  width: 55%;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#surveyMainDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hiddenDiv {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 1000;
}

.hiddenText {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 100px;
  color: #fbfafb;

  outline-style: solid;
  outline-width: 0.5px;
  outline-color: #fbfafb;
  background-color: #1d7659;
}

.naviLink {
  margin-left: 60px;
  margin-right: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;

  font-size: 18px;
  color: #fbfafb;

  text-decoration-line: none;
}

.container {
  width: 100%;
  padding-bottom: 30px;
  background: #fbfafb;

  display: flex;
  justify-content: center;

  font-family: NanumSquareNeo-Variable;
  font-size: 18px;
}

.center-div {
  width: 55%;
  height: 640px;

  background-color: #bdd6d0;
}

.side-div {
  flex: 1;
  background-color: #fbfafb;
}

#centerLayoutDiv {
  margin-left: 200px;
  margin-top: 30px;

}

#subjectTitle {
  margin-bottom: 20px;
  font-weight: 800;
}

#subjectDiv{
  padding: 10px;
}

select {
  font-size: 18px;
  font-weight: 600;

  width: 200px;
  height: 30px;
  line-height: 30px;

  border: 1px solid #000000;
  background-color: #fbfafb;

  display: flex;
  text-align: center;
}

#firstFormDiv {
  display: flex;
}

#periodDiv {
  position: relative;
  left: 30%;
}

#dayDiv {
  display: flex;
}

#dateTitle {
  font-weight: 800;
}

#periodInputDiv {
  font-size: 18px;
  font-weight: 600;

  width: 150px;
  height: 30px;
  line-height: 30px;

  border: 1px solid #000000;
  background-color: #fbfafb;

  display: flex;
  text-align: center;

  margin-top: 10px;
}

#dyaTextDiv {
  display: flex;
  align-items: center;

  margin-top: 10px;
  margin-left: 20px;
}

#normalInfoDiv {
  margin-top: 50px;
}

#normalInfoInputDiv {
  margin-top: 30px;
  display: flex;
}

#normarInput {
  font-weight: 800;
}

.inputInfo {
  flex: 1;
}

.checkBox {
  margin-right: 20px;
}

#targetContainer {
  margin-top: 50px;
  display: flex;
}

#targetText {
  margin-right: 40px;
  font-weight: 800;
}

#targetSelectDiv {
  margin-top: 30px;
  flex: 1;
}

#employeesInputDiv {
  display: flex;
}

.employeesInputInfoDiv {
  flex: 1;
}

#employeesHiddenInput {
  flex: 3;
}

#studentInputDiv {
  position: relative;
  top: -20px;
  display: flex;
}

.studentInputInfoDiv {
  flex: 1;
}

#studentInputHiddenDiv {
  flex: 3;
}

#subInfoText {
  margin-top: 50px;
  margin-bottom: 30px;

  font-weight: 800;
}

#subInfoDiv {
  display: flex;
}

.subInfoInputDiv {
  flex: 1;
}

#subInputHiddenDiv {
  flex: 2;
}

#submitContainerDiv{
  width: 75%;
  display: flex;
  justify-content: center;
}

#submitDiv {
  margin-top: 80px;
  font-size: 24px;
  background-color: #1d7659;
  color: #fbfafb;
}

/*
ν‘Έν„°
*/

#footer {
  height: 120px;
  background-color: #1d7659;

  color: #fbfafb;
}

.gitDivOne {
  display: flex;
  align-items: center;

  position: relative;
  top: 30px;
  left: 25%;
}

.footerGitImg {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.gitId {
  font-size: 18px;
}

#gitAdress {
  position: relative;
  left: 60%;

  display: flex;
}
