.center-div {
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.survey-box {
    width: 1280px;
    background-color: #666666;
    display: block;
    text-align: center;
}

.survey-title-content {
    margin: 20px;
    background-color: red;
    color: blue;

}

#survey-question {
    margin: 20px;
    padding: 20px;
    background-color: blue;
    color: red;

}

#newSurveyBtn {
    margin-bottom: 20px;
    color: black;
}