.center-div {
  padding: 20px;
  text-align: center;
}

.survey-box {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #666666;
  display: block;
}

.survey-title-content {
  background-color: red;
  color: blue;
  text-align: left;
}

#surveyTitle {
  padding: 20px;
}

#surveyContent {
  padding: 20px;
}

#survey-question {
  background-color: blue;
  color: red;
  text-align: left;
}

#answerForm {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: green;
}

.newSurveyBtn {
  margin-bottom: 20px;
  color: black;
}

/* 리모컨 css */
#controller {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #bdd6d0;

  position: fixed;
  right: 50%;
  top: 40%;
  margin-right: -720px;
  text-align: center;
  width: 120px;
  height: 250px;

  font-size: 15px;
}

#controllerCheckHiddenDiv {
  margin-top: 15px;
}

.controllerSelectBox {
  width: 95px;
}

.controllerInputDiv {
  margin-top: 40px;

  text-align-last: center;
  text-align: center;
}
