.center-div {
  padding: 20px;
  text-align: center;
}

.survey-box {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #666666;
  display: block;
}

.survey-title-content {
  background-color: red;
  color: blue;
  text-align: left;
}

#surveyTitle {
  padding: 20px;
}

#surveyContent {
  padding: 20px;
}

#survey-question {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: blue;
  color: red;
  text-align: left;
}

.newSurveyBtn {
  margin-bottom: 20px;
  color: black;
}

.newDiv {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: yellow;
}

/* 리모컨 css */
#controller {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #bdd6d0;

  position: fixed;
  right: 50%;
  top: 40%;
  margin-right: -720px;
  text-align: center;
  width: 120px;
  height: 250px;

  font-size: 15px;
}

#controllerCheckHiddenDiv {
  margin-top: 15px;
}

.controllerSelectBox {
  width: 95px;
}

.controllerInputDiv {
  margin-top: 40px;

  text-align-last: center;
  text-align: center;
}

/* 화면 로직 */
.screen {
  display: none;
}

.active {
  display: block;
}

#screenDiv {
  background-color: #fbfafb;

  display: flex;
  justify-content: center;
}

.screenBtn {
  font-size: 18px;
  border: 1px;
  border-style: solid;
  border-color: black;
}

#screenBtnLeft {
  margin-right: 20px;
}

#screenBtnRight {
  margin-left: 20px;
}

#settingContainerDiv {
  height: 640px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 50px;
}

.settingDiv {
  flex: 1;
  width: 400px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingBtn {
  margin-left: 30%;
}

.toggleSwitch {
  width: 100px;
  height: 50px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 30px;
}

.toggleSwitch .toggleButton {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #1d7659;
}

#publicSurvey:checked~.toggleSwitch,
#requireLogin:checked~.toggleSwitch,
#publicResult:checked~.toggleSwitch,
#showProgress:checked~.toggleSwitch {
  background: #1d7659;
}

#publicSurvey:checked~.toggleSwitch .toggleButton,
#requireLogin:checked~.toggleSwitch .toggleButton,
#publicResult:checked~.toggleSwitch .toggleButton,
#showProgress:checked~.toggleSwitch .toggleButton {
  left: calc(100% - 44px);
  background: #fff;
}

.toggleSwitch,
.toggleButton {
  transition: all 0.2s ease-in;
}